.player > .hero-dva {
	background-image: url("./images/heroes/dva.png");
}
.player > .hero-orisa {
	background-image: url("./images/heroes/orisa.png");
}
.player > .hero-reinhardt {
	background-image: url("./images/heroes/reinhardt.png");
}
.player > .hero-roadhog {
	background-image: url("./images/heroes/roadhog.png");
}
.player > .hero-sigma {
	background-image: url("./images/heroes/sigma.png");
}
.player > .hero-winston {
	background-image: url("./images/heroes/winston.png");
}
.player > .hero-hammond {
	background-image: url("./images/heroes/hammond.png");
}
.player > .hero-zarya {
	background-image: url("./images/heroes/zarya.png");
}
.player > .hero-ashe {
	background-image: url("./images/heroes/ashe.png");
}
.player > .hero-bastion {
	background-image: url("./images/heroes/bastion.png");
}
.player > .hero-doomfist {
	background-image: url("./images/heroes/doomfist.png");
}
.player > .hero-echo {
	background-image: url("./images/heroes/echo.png");
}
.player > .hero-genji {
	background-image: url("./images/heroes/genji.png");
}
.player > .hero-hanzo {
	background-image: url("./images/heroes/hanzo.png");
}
.player > .hero-junkrat {
	background-image: url("./images/heroes/junkrat.png");
}
.player > .hero-mccree {
	background-image: url("./images/heroes/mccree.png");
}
.player > .hero-mei {
	background-image: url("./images/heroes/mei.png");
}
.player > .hero-pharah {
	background-image: url("./images/heroes/pharah.png");
}
.player > .hero-reaper {
	background-image: url("./images/heroes/reaper.png");
}
.player > .hero-soldier-76 {
	background-image: url("./images/heroes/soldier-76.png");
}
.player > .hero-sombra {
	background-image: url("./images/heroes/sombra.png");
}
.player > .hero-symmetra {
	background-image: url("./images/heroes/symmetra.png");
}
.player > .hero-torbjorn {
	background-image: url("./images/heroes/torbjorn.png");
}
.player > .hero-tracer {
	background-image: url("./images/heroes/tracer.png");
}
.player > .hero-widowmaker {
	background-image: url("./images/heroes/widowmaker.png");
}
.player > .hero-ana {
	background-image: url("./images/heroes/ana.png");
}
.player > .hero-baptiste {
	background-image: url("./images/heroes/baptiste.png");
}
.player > .hero-brigitte {
	background-image: url("./images/heroes/brigitte.png");
}
.player > .hero-lucio {
	background-image: url("./images/heroes/lucio.png");
}
.player > .hero-mercy {
	background-image: url("./images/heroes/mercy.png");
}
.player > .hero-moira {
	background-image: url("./images/heroes/moira.png");
}
.player > .hero-zenyatta {
	background-image: url("./images/heroes/zenyatta.png");
}
