body {
	margin: 0;
}

@font-face {
	font-family: 'Big Noodle Too';
	src: url("fonts/big-noodle-too-oblique.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaNo2D';
	src: url("fonts/FuturaNo2D-DemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal; 
}

.scoreboard {
	/* Ratio is 4:1 */
	width: 99vw;
	height: 25vw;
	background-color: rgba(255, 255, 255, 0%);
}

.team {
	position: relative;
	top: 0;
	left: 0;
	height: 48%;
	width: 100%;
}

.scoreboard > :nth-child(1){
	margin-bottom: calc(0.04 * 25vw); /* gap of 4% of absolute height between rows */
}

.player {
	position: relative;
	top: 0;
	left: 0;
	width: calc(99vw / 6);
	height: 100%;
	float: left;
}

.player > div {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	color: white;
}

.player > .name {
	z-index: 2;

	/* Fit to image hexagon width*/
	width: 62%;
	margin-right: 38%;
	
	text-align: center;

	font-family: "Big Noodle Too", impact, sans-serif;
	font-size: 18pt;
	font-size: 3vw;
}

.player > :not(.name) {
	font-family: "FuturaNo2D", impact, sans-serif;
	font-size: 15pt;
	font-size: 2.6vw;
	
	text-shadow:
	0 0 10px black, 
	0 0 15px black,
	0 0 10px black;
}

.team-blue > .player > .name {
	text-shadow: 
	2px   2px 3px hsl(200, 90%, 30%), 
	-2px -2px 3px hsl(200, 90%, 30%), 
	-2px  2px 3px hsl(200, 90%, 30%), 
	2px  -2px 3px hsl(200, 90%, 30%);
}

.team-red > .player > .name {
	text-shadow: 
	2px   2px 3px hsl(0, 90%, 40%), 
	-2px -2px 3px hsl(0, 90%, 40%), 
	-2px  2px 3px hsl(0, 90%, 40%), 
	2px  -2px 3px hsl(0, 90%, 40%);
}

.player > .hero {
	width: 100%;
	height: 100%;
	z-index: 0;

	/* This is equivalent to background-size: contain assuming width and height calculations are correct */
	background-size: cover;
}

.team-blue > .player > .hero {
	background-image: url("./heroes/blue_blank.png");
}
.team-red > .player > .hero {
	background-image: url("./heroes/red_blank.png");
}

.player > .kills {
	left: 80.5%;
	top: calc(21%);
}

.player > .deaths {
	left: 80.5%;
	top: calc(21% + 26% * 1);
}

.player > .resurrects {
	left: 80.5%;
	top: calc(21% + 26% * 2);
} 
